/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$headings-color: #DA6A15;
$link-color: complement($headings-color, $space: null);
$link-hover-color: scale-color($headings-color, $lightness: +20%);
$math-color: #4223c1;
$code-color: #23c142;


/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  color: $navbar-bg;
}

h1.title {
  font-size: $h1-font-size*1.3;
  font-weight: $headings-font-weight*2;
}

.navbar {
  --bs-navbar-padding-y: 0px !important;
  --bs-navbar-brand-padding-y: 0px !important;
}

#quarto-content .level1 a {
  color: $link-color;
  text-decoration: underline;
  text-decoration-color: $link-hover-color;
}

#quarto-content .level1 a:hover {
  color: $link-hover-color;
  text-decoration: underline;
  text-decoration-color: $link-color;
}


.navbar-brand-container {
  max-width: 100%;
}

.navbar-title {
  font-size: $h3-font-size;
  font-weight: $headings-font-weight;
}

.navbar-logo {
  max-height: 75px;
}

.alert {
  margin: 10px;
}

.math {
  color: $math-color;
  font-size: 1.2em;
}

code {
  color: $code-color;
  font-size: 95%;
}

.rounded-corners {
  border-radius: 25px;
  transition: border-radius 0.3s ease-in-out;
}

.thumbnail-image {
  border-radius: 10px;
}

.rounded-corners:hover {
  border-radius: 0px;
  animation: shake 0.5s;
}

/* Not within grid */
.quarto-grid-item .thumbnail-image {
  border-radius: 0px;
}

/* This is for making images in listings smaller */
div.thumbnail {
  max-width: 150px;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.quarto-title-meta,.quarto-title-meta-author {
  color: scale-color($body-color, $lightness: +50%);
  font-size: 0.8em;
}

.quarto-title-meta-heading {
  font-weight: bold !important;
}

.quarto-title-meta-contents {
  font-style: italic;
}

div.abstract {
  font-style: italic;
}

.thatsall {
  margin-top: 75px;
  padding-bottom: 0px;
  line-height: 0;
  font-style: italic;
  text-align: right;
  border-bottom: 1px solid #aaa;
}

.links-list ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.links-list li {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  margin: 10px 0px 10px 0px;
  width: fit-content;
}

.links-list li a {
  text-decoration: none;
}

.links-list li:hover {
  color: $link-hover-color;
  border-color: $link-hover-color;
}
